<footer class="text-center" id="footer" style="background-color: white">
  &copy; Copyright <strong><span>Gay Lotus</span></strong>. Tots els drets reservats. Dissenyat amb ❤️ per <a
    href="https://gabrielmr.com/">Gabriel</a>.
</footer>
<br>
