<div class="container">
  <h1>The Lotus Game</h1>
  <h2>Bienvenidos</h2>
  <p>Este es un juego online que desarrollé gracias a la inciativa propia y la de una comunidad LGBTQ+ con la que colaboro para un sinfín de proyectos. Uno de los eventos organizados dentro de la comunidad QWERTY ( Associació Espai Xarxa Projecte Q)</p>
</div>
